{% extends "base.html" %}
{% block title %}Divya Paliwal{% endblock title %}
{% block home %}active{% endblock home %}
{% block body %}
<div class="d-flex align-items-center content m-auto">
    <div>

        <h2 style="text-transform:uppercase ; font-size:6vh ; text-align:center">Hey, i'm divya paliwal</h2>

        <p style="font-size:small ;text-align:center">Wondering why my website is so plain? Because I'm a backend
            developer who
            believes
            the magic happens behind the scenes. As a Python and Django enthusiast, I craft scalable, efficient
            systems
            and am on the lookout for exciting opportunities to bring ideas to life.</p>
            <div class='d-flex justify-content-center'>
                <button type="button" class="btn btn-warning textcss px-4 "><a href="/projects" >PROJECTS</a> </button>
            </div>
    </div>
    
</div>
</div>



{% endblock body %}